
body{
color: white;
position: relative;
background-image: url("https://newevolutiondesigns.com/images/freebies/space-wallpaper-5.jpg");
}

.para{
color: lightblue;
} 

.yoshi-egg{
position: relative;
} 